# T1. If the starting points are (3,3), (2,2), and (-3,-3). Describe each assign and update step. What are the points assigned? What are the updated centroids? You may do this calculation by hand or write a program to do it.<br/>

given data<br/>
x y<br/>
1 2<br/>
3 3<br/>
2 2<br/>
8 8<br/>
6 6<br/>
7 7<br/>
-3 -3<br/>
-2 -4<br/>
-7 -7<br/>

In [112]:
def find_new_sp(sp,data):
  ar = {0:[],1:[],2:[]}
  for p in data:
    d1 = (p[0] - sp1[0])**2 + (p[1] - sp1[1])**2
    d2 = (p[0] - sp2[0])**2 + (p[1] - sp2[1])**2
    d3 = (p[0] - sp3[0])**2 + (p[1] - sp3[1])**2
    id = [d1,d2,d3].index(min([d1,d2,d3]))
    ar[id].append(p)
  new_sp = []
  for a in [0,1,2]:
    arg = ar[a]
    cx = 0
    cy = 0
    for p in arg:
      cx += p[0]
      cy += p[1]
    cx /= len(arg)
    cy /= len(arg)
    dt = (arg[0][0] - cx)**2 + (arg[0][1] - cy)**2
    tmp = arg[0]
    for p in arg:
      tmp_dt = (p[0] - cx)**2 + (p[1] - cy)**2
      if(tmp_dt < dt):
        dt = tmp_dt
      tmp = p
    new_sp.append(tmp)
  new_sp.sort()
  # print('the new centroids points are',new_sp)
  return new_sp


data = [(1,2),(3,3),(2,2),(8,8),(6,6),(7,7),(-3,-3),(-2,-4),(-7,-7)]
sp1 = (3,3)
sp2 = (2,2)
sp3 = (-3,-3)
sp = [sp1,sp2,sp3]
sp.sort()

def find_final_sp(sp,data):
  i = 0
  result = {}
  while(i < 100):
    i += 1
    tmp = find_new_sp(sp,data)
    if(sp == tmp):
      break
    if(i in [5,10,20,50,100]):
      result[i] = tmp
    sp = tmp

  print('iterating',i,'times')
  print('the new centroids points are',sp)

  return;

find_new_sp(sp,data)
find_final_sp(sp,data)

iterating 2 times
the new centroids points are [(-7, -7), (2, 2), (7, 7)]

# T2. If the starting points are (-3,-3), (2,2), and (-7,-7), what happens?

In [113]:
sp = [(-3,-3),(2,2),(-7,-7)]
sp.sort()

find_final_sp(sp,data)

iterating 2 times
the new centroids points are [(-7, -7), (2, 2), (7, 7)]

The centroids are the same as answer in T1

# T3. Between the two starting set of points in the previous two questions,which one do you think is better? How would you measure the ‘goodness’ quality of a set of starting points?

For me I think T2 starting set is better since the point is arrange wider in the area and seem to being center of many points than T1

# My heart will go on

In [114]:
import pandas as pd
import numpy as np
import math

In [115]:
train_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/train.csv"
train = pd.read_csv(train_url) #training set

In [116]:
test_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/test.csv"
test = pd.read_csv(test_url) #test set

In [117]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [118]:
train.tail()

     PassengerId  Survived  Pclass  ...   Fare Cabin  Embarked
886          887         0       2  ...  13.00   NaN         S
887          888         1       1  ...  30.00   B42         S
888          889         0       3  ...  23.45   NaN         S
889          890         1       1  ...  30.00  C148         C
890          891         0       3  ...   7.75   NaN         Q

[5 rows x 12 columns]

In [119]:
test.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [120]:
test.tail()

     PassengerId  Pclass                          Name  ...      Fare  Cabin  Embarked
413         1305       3            Spector, Mr. Woolf  ...    8.0500    NaN         S
414         1306       1  Oliva y Ocana, Dona. Fermina  ...  108.9000   C105         C
415         1307       3  Saether, Mr. Simon Sivertsen  ...    7.2500    NaN         S
416         1308       3           Ware, Mr. Frederick  ...    8.0500    NaN         S
417         1309       3      Peter, Master. Michael J  ...   22.3583    NaN         C

[5 rows x 11 columns]

In [121]:
train.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [122]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

# T4. What is the median age of the training set? You can easily modify the age in the dataframe by 
train["Age"] = train["Age"].fillna(train["Age"].median()) <br/>
Note that you need to modify the code above a bit to fill with mode() because mode() returns a series rather than a single value.

In [123]:
train["Age"] = train["Age"].fillna(train["Age"].median())
test["Age"] = test["Age"].fillna(test["Age"].median())

# T5. Some fields like ‘Embarked’ are categorical. They need to be converted to numbers first. We will represent S with 0, C with 1, and Q with 2. What is the mode of Embarked? Fill the missing values with the mode. You can set the value of Embarked easily with the following command.<br/>
train.loc[train["Embarked"] == "S", "Embarked"] = 0<br/>
Do the same for Sex.

In [124]:
train.loc[train["Embarked"] == "S", "Embarked"] = 0
train.loc[train["Embarked"] == "C", "Embarked"] = 1
train.loc[train["Embarked"] == "Q", "Embarked"] = 2

train["Embarked"] = train["Embarked"].fillna(train["Embarked"].mode().iloc[0])

train.loc[train["Sex"] == "male", "Sex"] = 0
train.loc[train["Sex"] == "female", "Sex"] = 1

train["Sex"] = train["Sex"].fillna(train["Sex"].mode().iloc[0])

test.loc[test["Embarked"] == "S", "Embarked"] = 0
test.loc[test["Embarked"] == "C", "Embarked"] = 1
test.loc[test["Embarked"] == "Q", "Embarked"] = 2

test["Embarked"] = test["Embarked"].fillna(test["Embarked"].mode().iloc[0])

test.loc[test["Sex"] == "male", "Sex"] = 0
test.loc[test["Sex"] == "female", "Sex"] = 1

test["Sex"] = test["Sex"].fillna(test["Sex"].mode().iloc[0])

In [125]:
train[["Pclass","Sex","Age","Embarked"]].head()

   Pclass  Sex   Age  Embarked
0       3    0  22.0         0
1       1    1  38.0         1
2       3    1  26.0         0
3       1    1  35.0         0
4       3    0  35.0         0

# T6. Write a logistic regression classifier using gradient descent as learned in class. Use PClass, Sex, Age, and Embarked as input features. You can extract the features from Pandas to Numpy by<br/>
data = np.array(train[["PClass","Sex","Age","Embarked"]].values)



---

# Generate datas

In [126]:
# For dynamic map in T8
def generate_datas(df,mapper):
  input_data = pd.DataFrame()
  col_data = df[mapper.columns]
  # print(col_data)
  # no idea how to use pandas for this function
  for i in range(mapper.shape[0]):
    tmp = df.iloc[:].pow(mapper.iloc[i]).prod(axis=1)
    input_data[i] = tmp
  return input_data.values

# Find best theta

In [127]:
def starting_points_with_sample_seed(data,sample_seed):
  np.random.seed(sample_seed)
  return np.random.rand(data.shape[1])

def loss_function(data,theta):
  dot_product = np.dot(data,theta.T)
  sum_sigma_square = (dot_product**2).sum()
  return ((1/2)*sum_sigma_square)/(data.shape[0]/2)

def sigmoid_function(data):
  data[:][:] = 1/(1 + math.exp(1)**(-data[:][:]))
  return data

def dy_by_dx(data,result,theta,is_logistic_regression):
  dot_product = np.dot(data,theta.T)
  if(is_logistic_regression):
    dot_product = sigmoid_function(dot_product)
    # print(dot_product)
  errors = (result - dot_product).reshape(result.shape[0],1)
  errors_mul_xij = errors * data
  return errors_mul_xij.sum(axis=0)

def regression(data,result,sample_seed,learning_rate,is_logistic_regression):
  i = 0
  theta = starting_points_with_sample_seed(data,sample_seed)
  starting_loss = loss_function(data,theta)
  loss = starting_loss
  best_loss = starting_loss
  best_theta = theta
  best_iteration = 0
  while(loss > 0.25):
    theta = theta + learning_rate * dy_by_dx(data,result,theta,is_logistic_regression)
    loss = loss_function(data,theta)
    if(best_loss > loss):
      best_loss = loss
      best_theta = theta
      best_iteration = i
    if(loss > starting_loss and i > 100): break
    i += 1
    if(i>10000): break
  # print('terminate iteration:', i)
  # print(tmp_loss)
  # print('sample seed',sample_seed,'best iteration:',best_iteration)
  return best_theta,best_loss

# Merge it together

In [128]:
def full_pipeline(data,result,sample_seed_start,sample_seed_count,learning_rate,is_logistic_regression):
  theta,loss = regression(data,result,sample_seed_start,learning_rate,is_logistic_regression)
  min_loss = loss
  best_theta = theta
  best_iteration = sample_seed_start
  # sample seed start - start + count
  for i in range(sample_seed_start + 1,sample_seed_start + sample_seed_count):
    tmp_theta,tmp_loss = regression(data,result,i,learning_rate,is_logistic_regression)
    if(tmp_loss < min_loss):
      min_loss = tmp_loss
      best_theta = tmp_theta
      best_iteration = i
  print('Best random seed iteration is',best_iteration)
  print('Best theta is',best_theta)
  print('Minimum loss is',min_loss)

  return best_theta

# Config and Run Here

In [129]:
mapper = pd.DataFrame({"Pclass":[1,0,0,0],"Sex":[0,1,0,0],"Age":[0,0,2,0],"Embarked":[0,0,0,1]})
data = generate_datas(train,mapper)
y = np.array(train["Survived"])
sample_seed_start = 0
sample_seed_count = 100
learning_rate = 2.5e-07
is_logistic_regression = True
data

array([[3.000e+00, 0.000e+00, 4.840e+02, 0.000e+00],
       [1.000e+00, 1.000e+00, 1.444e+03, 1.000e+00],
       [3.000e+00, 1.000e+00, 6.760e+02, 0.000e+00],
       ...,
       [3.000e+00, 1.000e+00, 7.840e+02, 0.000e+00],
       [1.000e+00, 0.000e+00, 6.760e+02, 1.000e+00],
       [3.000e+00, 0.000e+00, 1.024e+03, 2.000e+00]])

In [130]:
best_theta = full_pipeline(data,y,sample_seed_start,sample_seed_count,learning_rate,is_logistic_regression)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: RuntimeWarning: overflow encountered in power
  # This is added back by InteractiveShellApp.init_path()

Best random seed iteration is 21
Best theta is [4.52812438e-02 2.90853508e-01 8.17899848e-05 2.19371962e-02]
Minimum loss is 0.11156433601386835

# Predict and Download

In [131]:
def predict(df,mapper,theta):
  result = pd.DataFrame(df["PassengerId"])
  data = generate_datas(df,mapper)
  result["Survived"] = (data*theta).sum(axis=1)
  result = result.assign(Survived=lambda x: (x.Survived >= 0.5)*1)
  return result

In [132]:
data_test = predict(train,mapper,best_theta)
print(data_test)
print('Number of each predict is\n',data_test.groupby(['Survived']).size())

     PassengerId  Survived
0              1         0
1              2         0
2              3         0
3              4         0
4              5         0
..           ...       ...
886          887         0
887          888         0
888          889         0
889          890         0
890          891         0

[891 rows x 2 columns]
Number of each predict is
 Survived
0    787
1    104
dtype: int64

In [133]:
print(train[train['Survived'] == data_test['Survived']].shape[0]/891)

0.6610549943883277

In [134]:
data_test = predict(test,mapper,best_theta)
print(data_test)
data_test.to_csv('prediction.csv', index=False)
print('Number of each predict is\n',data_test.groupby(['Survived']).size())

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         0
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]
Number of each predict is
 Survived
0    360
1     58
dtype: int64



---

**Due to my full_pipeline function using to select best random starting point but in T8 and T9 test have to use same random seed which is 21**

# T8. Try adding some higher order features to your training (x21, x1x2,...).Does this model has better accuracy on the training set? How does it perform on the test set?

In [135]:
mapper_2 = pd.DataFrame({"Pclass":      [1,0,0,0,2,0],
                           "Sex":       [0,1,0,0,0,2],
                           "Age":       [0,0,1,0,0,0],
                           "Embarked":  [0,0,0,1,0,0]})
data_2 = generate_datas(train,mapper_2)
y = np.array(train["Survived"])

In [145]:
best_theta_2 = full_pipeline(data_2,y,21,1,learning_rate,is_logistic_regression)

Best random seed iteration is 27
Best theta is [ 0.26285557  0.81694901 -0.03949213  0.84130209 -0.13861601  0.9818219 ]
Minimum loss is 1.6946186286694085

In [146]:
data_train_2 = predict(train,mapper_2,best_theta_2)
matched = (data_train_2['Survived'] == train['Survived']).sum()
print('Number of each predict is\n',data_train_2.groupby(['Survived']).size())
print("accuracy on train data is",matched/train.shape[0])

Number of each predict is
 Survived
0    675
1    216
dtype: int64
accuracy on train data is 0.755331088664422

In [147]:
data_test_2 = predict(test,mapper_2,best_theta_2)
print(data_test_2)
data_test_2.to_csv('prediction_2.csv', index=False)
print('Number of each predict is\n',data_test_2.groupby(['Survived']).size())

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]
Number of each predict is
 Survived
0    310
1    108
dtype: int64

**On this test I use x2 instead of x for Age and add x*y feature for Pclass and Embarked** <br/>
The accuracy of train data set is **0.703**<br/>
The accuracy of test data set is **0.622**<br/>
I think train data has a better accuracy because it is attach in model so test data which are not leaked should has this performance as it should be.

# T9. What happens if you reduce the amount of features to just Sex and Age?

In [139]:
mapper_3 = pd.DataFrame({"Sex":[1,0],"Age":[0,1]})
data_3 = generate_datas(train,mapper_3)
y = np.array(train["Survived"])
print(data_3)

[[ 0. 22.]
 [ 1. 38.]
 [ 1. 26.]
 ...
 [ 1. 28.]
 [ 0. 26.]
 [ 0. 32.]]

In [140]:
best_theta_3 = full_pipeline(data_3,y,21,1,learning_rate,is_logistic_regression)

Best random seed iteration is 21
Best theta is [0.04784788 0.01389415]
Minimum loss is 0.21300777464118237

In [141]:
data_train_3 = predict(train,mapper_3,best_theta_3)
matched = (data_train_3['Survived'] == train['Survived']).sum()
print('Number of each predict is\n',data_train_3.groupby(['Survived']).size())
print("accuracy on train data is",matched/train.shape[0])

Number of each predict is
 Survived
0    656
1    235
dtype: int64
accuracy on train data is 0.5791245791245792

In [142]:
data_test_3 = predict(test,mapper_3,best_theta_3)
print(data_test_3)
data_test_3.to_csv('prediction_3.csv', index=False)
print('Number of each predict is\n',data_test_3.groupby(['Survived']).size())

     PassengerId  Survived
0            892         0
1            893         1
2            894         1
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         1
416         1308         0
417         1309         0

[418 rows x 2 columns]
Number of each predict is
 Survived
0    307
1    111
dtype: int64

The accuracy of the data set is **0.636** which better than second one. Maybe this is because the feature I choose to alter in second test are not reasonable or not really link to.

In [143]:
learning_rate

2.5e-07

In [144]:
2.5e-07

2.5e-07